/* parallaxsection.css */

.Parallax-section {
  /* Your existing styles */
  background-attachment: fixed; /* This creates the parallax effect */
  background-position: center; /* Align the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Cover the entire section */
}

@media (max-width: 600px) {
  .Parallax-section {
    padding-top: 130px; /* Ajustez cette valeur en fonction de la hauteur totale du header et des messages d'avertissement */
  }
}
