/* parallaxsection.css */

.Parallax-section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.countdown-text {
  font-size: 1.25rem; /* Ajustez la taille de la police selon vos besoins */
  line-height: 1.5; /* Ajustez la hauteur de ligne selon vos besoins */
}

.desktop-text {
  display: none;
}

.mobile-text {
  display: inline;
}

@media (min-width: 601px) {
  .desktop-text {
    display: inline;
  }

  .mobile-text {
    display: none;
  }
}

@media (max-width: 600px) {
  .Parallax-section {
    padding-top: 130px; /* Adjust this value based on the total height of the header and warning messages */
  }
}
