.header-outer {
  width: 100%;
  height: 66px;
  background-color: #2A3D45ec;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 1s;
}

.header-outer.header-hidden {
  top: -100%;
}

.header-inner {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media (max-width: 1199px) {
  .header-inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-cart {
  margin-right: 20px;
}

.logo:hover .text-button-bg {
  color: var(--color-dusty-rose);
}

.button-claim {
  margin-right: 10%;
}

.select-network {
  background-color: #1a2a30; /* Correspond à la couleur de fond des autres boutons */
  color: white;
  border: 1px solid transparent; /* Pas de bordure apparente */
  padding: 10px 15px; /* Padding similaire aux autres boutons */
  font-size: 16px; /* Assurez-vous que cela correspond à la taille de police des autres boutons */
  border-radius: 5px; /* Bordures arrondies */
  cursor: pointer; /* Style du curseur */
  height: 40px; /* Hauteur ajustée pour correspondre aux autres boutons */
  display: inline-flex; /* Pour centrer le contenu verticalement */
  align-items: center; /* Alignement vertical du texte dans le bouton */
  justify-content: center; /* Centrage horizontal du texte */
}

.select-network:hover {
  background-color: #16232d; /* Couleur plus foncée au survol */
}

/* Ajouter une flèche personnalisée pour le select */
.select-network::after {
  content: '▼';
  font-size: 12px;
  color: white;
  margin-left: 5px;
}

/* Suppression de l'apparence par défaut pour le dropdown */
.select-network::-ms-expand {
  display: none;
}

.bg-dusty-rose {
  background-color: #D782BA; /* ajustez cette couleur selon vos besoins */
}

.hover\:bg-dusty-rose-dark:hover {
  background-color: #C572A0; /* ajustez pour le survol */
}